@font-face {
  font-family: 'Roboto Flex';
  src: url('@fonts/roboto-flex/RobotoFlex-Regular.woff2') format('woff2'),
       url('@fonts/roboto-flex/RobotoFlex-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
