@use "@mixins/media" as *;
@use "@variables" as *;
@use "@animations" as *;


$viewport-margin: calc((100vw - 100%) / 2);
$edge-position: calc($viewport-margin * -1);

.header {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 70px;
  padding-block: 1em;
  background-color: $color-primary;

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset-block-start: 0;
    height: 100%;
    width: $viewport-margin;
    background-color: $color-primary;
  }

  &::before {
    inset-inline-start: $edge-position;
  }

  &::after {
    inset-inline-end: $edge-position;
  }
}

.logo {
  width: fit-content;

  &__link {
    img {
      aspect-ratio: 1 / 1;
      width: 3em;

      @include respond(md) {
        width: 5em;
      }

      @include respond(xl) {
        width: 7em;
      }

      &:hover {
        animation: tilt-shaking .3s ease-in-out 1;
      }
    }
  }
}

