@font-face {
  font-family: 'Libre Franklin';
  src: url('@fonts/libre-franklin/LibreFranklin-ThinItalic.woff2') format('woff2'),
       url('@fonts/libre-franklin/LibreFranklin-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('@fonts/libre-franklin/LibreFranklin-Thin.woff2') format('woff2'),
       url('@fonts/libre-franklin/LibreFranklin-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('@fonts/libre-franklin/LibreFranklin-BoldItalic.woff2') format('woff2'),
       url('@fonts/libre-franklin/LibreFranklin-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('@fonts/libre-franklin/LibreFranklin-Medium.woff2') format('woff2'),
       url('@fonts/libre-franklin/LibreFranklin-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Libre Franklin';
  src: url('@fonts/libre-franklin/LibreFranklin-Bold.woff2') format('woff2'),
       url('@fonts/libre-franklin/LibreFranklin-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
