@use "@mixins" as *;
@use "@variables" as *;

.slider {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  overflow-x: hidden;

  &__wrap {
    grid-column: 1 / -1;
    grid-row: 1;

    display: flex;
    flex-wrap: nowrap;
    list-style: none;

    padding: 0;
    height: 300px;

    transition: transform 0.5s ease;
    will-change: transform;
  }

  &__button {
    display: none;
    @include respond(lg) {
      display: block;

      grid-row: 1;
      cursor: pointer;
      min-width: 5em;
      border: none;
      outline: none;
      background: transparent;
      transition: background ease-in 0.3s;

      span {
        @include sr-only();
      }

      &:hover {
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(0.1em);
      }

      &--prev {
        grid-column: 1 / 2;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
      }

      &--next {
        grid-column: 3 / 4;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
      }
    }
  }
}

.slide {
  width: 100%;
  flex: 0 0 auto;
  user-select: none;
  pointer-events: none;

  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr;

  &__title {
    z-index: 1;
    grid-row: 2;
    grid-column: 1;

    max-width: 90%;
    width: fit-content;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0.2em);

    text-align: center;
    color: $color-light;
    text-shadow: 0 0 0.3em $color-dark;
  }
  &__picture {
    grid-row: 1 / -1;
    grid-column: 1;

    display: block;
    width: 100%;
    height: 100%;
    width: auto;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
